code/.idea/workspace.xml
code/.idea/uiDesigner.xml
code/out/
code/src/*.class

code/NotificationGenerator/.idea/workspace.xml
code/NotificationGenerator/.idea/uiDesigner.xml
code/NotificationGenerator/out/
code/NotificationGenerator/src/*.class
